<template>
  <div style="margin-top: 60px;">
      <div id="my3dspace">
          <div id="pagegroup">
              <div class="page" id="page1">1</div>
              <div class="page" id="page2">2</div>
              <div class="page" id="page3">3</div>
              <div class="page" id="page4">4</div>
              <div class="page" id="page5">5</div>
              <div class="page" id="page6">6</div>
          </div>
      </div>

      <div id="op">
          <span class="btn-c btn-prev" @click="prev()">previous</span>
          <span class="btn-c btn-next" @click="next()">next</span>
      </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        curIndex: 1
      }
    },

    methods: {
      next: function() {
          if( this.curIndex == 6 )
              return;

          var curPage = document.getElementById("page"+this.curIndex);
          curPage.style.webkitTransform = "rotateX(-90deg)";

          this.curIndex ++;
          var nextPage = document.getElementById("page"+this.curIndex);
          nextPage.style.webkitTransform = "rotateX(0deg)";
      },
      prev: function() {
          if( this.curIndex == 1 )
              return;

          var curPage = document.getElementById("page"+this.curIndex);
          curPage.style.webkitTransform = "rotateX(90deg)";

          this.curIndex --;
          var prevPage = document.getElementById("page"+this.curIndex);
          prevPage.style.webkitTransform = "rotateX(0deg)";
      }
    }
  }
</script>
<style scoped>
    .btn-c {
        width: 100px;
        height: 32px;
        font-size: 20px;
        color: white;
        border-radius: 4px;
        display: inline-block;
        margin: 5px;
        box-shadow: 2px 2px 2px rgba(24,24, 24,.8);
        cursor: pointer;
        user-select: none;
    }
    .btn-next {
        background-color: rgb(71, 71, 253);
    }
    .btn-prev {
        background-color: red;
    }
    #my3dspace{
        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 50%;

        overflow:hidden;
    }
    #pagegroup{
        width:400px;
        height:400px;
        margin:0 auto;

        -webkit-transform-style:preserve-3d;

        position: relative;
    }
    .page{
        width:360px;
        height:360px;
        padding:20px;
        background-color: black;

        color:white;

        font-weight:bold;
        font-size:360px;
        line-height:360px;
        text-align:center;

        position:absolute;
    }
    #page1{
        -webkit-transform-origin:bottom;
        -webkit-transition: -webkit-transform 1s linear;
    }
    #page2,#page3,#page4,#page5,#page6{
        -webkit-transform-origin:bottom;
        -webkit-transition: -webkit-transform 1s linear;
        -webkit-transform: rotateX(90deg);
    }

    #op{
        text-align:center;
        margin: 40px auto;
    }
</style>