<template>
    <article class="htmleaf-container">
      <div class="demo">
        <div class="item">
          <div class="clearfix" style="max-width:474px;">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
              <li v-for="item in imgs" :data-thumb="'img/thumb/'+item" :key="item">
                <img :src="'img/'+item" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
</template>

<script>
  import slider from './js/slider'

  let imgs = [];
  for(let i=1;i<10;i++){
    imgs.push('cS-'+i+'.jpg');
  }
  new Vue({
    el: ".demo",
    data(){
      return {
        imgs: imgs
      }
    },
    mounted() {
      $("#content-slider").lightSlider({
        loop: true,
        keyPress: true
      });
      $('#image-gallery').lightSlider({
        gallery: true,
        item: 1,
        thumbItem: 9,
        slideMargin: 0,
        speed: 500,
        auto: true,
        loop: true,
        onSliderLoad: function () {
          $('#image-gallery').removeClass('cS-hidden');
        }
      });
    },
  })
</script>

<style>
  @import './css/default.css';
  @import './css/slider.css';

  ul {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
  }

  .demo .item {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .content-slider li {
    background-color: #66677c;
    text-align: center;
    color: #FFF;
  }

  .content-slider h3 {
    margin: 0;
    padding: 70px 0;
  }

  .demo {
    width: 100%;
    margin: 0 auto;
  }
</style>
