
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1524894158375'); /* IE9*/
  src: url('./iconfont.eot?t=1524894158375#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1524894158375') format('woff'),
  url('./iconfont.ttf?t=1524894158375') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1524894158375#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e626"; }

.icon-user:before { content: "\ec52"; }

.icon-indent:before { content: "\e62b"; }

.icon-outdent:before { content: "\e62c"; }

.icon-caret-down:before { content: "\e631"; }

