<template>
    <div class="part-a-t" ref="menuItemParent">
        <span class="l-content-c" 
            @mouseover="mousehover(index)" 
            v-for="(item,index) in partAF" 
            :key="index"
            ref="menuItem">{{item.text}}</span>
    </div>
</template>

<script>
    
    export default {
        props:["partAF"],
        data(){
            return {
            }
        },
        mounted: function(){
            $(this.$refs.menuItemParent).find(".l-content-c:first-child").addClass("selected no-border-left")
            $(this.$refs.menuItemParent).addClass("no-border-left");
        },
        methods:{
            mousehover:function(index){
                if(index==0){
                    $(this.$refs.menuItem[index]).addClass("no-border-left");
                    $(this.$refs.menuItemParent[0]).addClass("no-border-left");
                }else{
                    $(this.$refs.menuItemParent[0]).removeClass("no-border-left");
                }
                
                if($(this.$refs.menuItemParent).find(".l-content-c.selected").length){
                    $(this.$refs.menuItemParent).find(".l-content-c.selected").removeClass("selected");
                }
                $(this.$refs.menuItem[index]).addClass("selected");
                
            }
        }
    }
</script>

<style lang="less" scoped>
@import "../../../../assets/css/index.less";

.part-a-t{
    height: 34px;
    line-height: 35px;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    padding-left: -1px;
    .selected{
        border-top: 3px solid #ff8500;
        border-left: 1px solid #dbdee1;
        border-right: 1px solid #dbdee1;
        background-color: #fff;
        height: 33px;
        line-height: 29px;
        padding: 0 12px;
    }
    .l-content-c {
        float: left;
        padding: 0 13px;
        margin-top: -1px;
        .font-style();
    }
}
.no-border-left {
    border-left: 0 !important;
}
</style>
