<template>
<div class="addAlbumMenu">
  <el-button 
    @click="dialogFormVisible = true"
    :round="false"
  >创建相册</el-button>

  <el-dialog title="相册信息" :visible.sync="dialogFormVisible" width="30%">
    <el-form :model="form">
      <el-form-item label="相册名称: " :label-width="formLabelWidth">
        <el-input v-model="form.name" auto-complete="off" :maxlength="200"></el-input>
      </el-form-item>
      <el-form-item label="首页链接: " :label-width="formLabelWidth">
        <el-input v-model="form.homelink" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="备注: " :label-width="formLabelWidth">
        <el-input type="textarea" :rows="3" v-model="form.desc" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="权限:" :label-width="formLabelWidth">
        <el-select v-model="form.is_private" placeholder="请选择活动区域">
          <el-option label="私密" value="private"></el-option>
          <el-option label="公开" value="public"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button @click="commitFormFun">确 定</el-button>
    </div>
  </el-dialog>
</div>
</template>

<script>

import { addAlbumServer } from 'api';
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      dialogFormVisible: false,
      form: {
        name: "",
        is_private: "private",
        homelink: "",
        desc: "",
        i: ""
      },
      formLabelWidth: "75px",
      inputMaxlength: "50px"
    };
  },
  methods: {
    ...mapActions([
      'addAlbum'
    ]),
    commitFormFun: function(){
      let u = localStorage.getItem('u');
      let i = JSON.parse(u).i;
      let self = this;
      this.form.i = i

      addAlbumServer(this.form).then(function(data){
        if(data.status){
          self.addAlbum(data.result);
          self.$message({
            message: data.msg,
            type: 'success'
          })
        }else{
          self.$message({
            message: data.msg,
            type: 'error'
          })
        }
        
      })
      this.dialogFormVisible = false
    }
  }
};
</script>
<style scoped>
.addAlbumMenu {
  padding: 10px;
}
.el-button {
  background-color: #409EFF;
  color: #ffffff;
}
.el-form {
  padding: 0 30px 0;
}

</style>
