<template>
    <div>
      <div class="albumPage">
        <div class="albumContent">
          <addAlbumBtn></addAlbumBtn>

          <waterfall 
            :align="align"
            :line-gap="300"
            :min-line-gap="100"
            :max-line-gap="800"
            :single-max-width="300"
            :watch="$store.state.gallery.albums"
            @reflowed="reflowed"
            ref="waterfall"

          >
            <!-- each component is wrapped by a waterfall slot -->
            <waterfall-slot
              v-for="(item, index) in $store.state.gallery.albums"
              :width="230"
              :height="280"
              :order="index"
              :key="item.id"
            >
            <div class="item" :style="item.style" :index="item.index">
              <span class="drop-menu">
                <el-dropdown @command="handleCommand">
                  <span class="el-dropdown-link">
                    <i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">

                    <el-dropdown-item :command="{
                      key: 'setHomePhoto',
                      value: item 
                    }">设置首页图片</el-dropdown-item>
                    <el-dropdown-item :command="{
                      key: 'editAlbum',
                      value: item 
                    }">编辑相册信息</el-dropdown-item>
                    <el-dropdown-item :command="{
                      key: 'deleteAlbum',
                      value: item }">
                      删除相册
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </span>
              <img :src="defLinkCont(item.album_home_link)" class="image" @click="albumDomClick(item)">
            
              <div class="albumDecs">
                <span>{{item.album_name}}</span>
                <div class="bottom clearfix">
                  <time class="time">{{ changeTheDate(item.create_time) }}</time>
                </div>
              </div>
            </div>
            </waterfall-slot>
        </waterfall>
        </div>
      </div>
    </div>


</template>

<script>

import addAlbumBtn from './addAlbum'
import defaultHomeLink from 'assets/images/default-home-link.jpg'
import { albumServer, deleteAlbumServer } from 'api'
import { getToken } from '@/common/common.js'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      defaultHomeLink: defaultHomeLink,
      albums: [],
      isBusy: false
    }
  },
  components: {
    addAlbumBtn: addAlbumBtn
  },
  methods: {
    ...mapActions([
      'setAlbums',
      'deleteAlbum'
    ]),
    albumDomClick: function(data){
      this.$router.push('/album/'+ data.album_id)   
    },
    defLinkCont(value) {
      if (value && value.match("http")) {
        return value
      } else {
        return this.defaultHomeLink
      }
    },
    changeTheDate(date){
      let d = moment(new Date(Number(date))).format('YYYY-MM-DD hh:mm:ss');
      return d
    },
    reflowed: function () {
      this.isBusy = false
    },
    handleCommand(command) {
      switch(command.key){
        case "deleteAlbum":
          // 数据库删除相册
          let self = this;
          deleteAlbumServer({id: command.value.album_id}).then(function(data){
            if(data.status){
              // 删除缓存
              self.deleteAlbum(command.value.album_id);
              self.$message({
                message: data.msg,
                type: 'success'
              })
            }else{
              self.$message({
                message: data.msg,
                type: 'error'
              })
            }
          })
          break
        case "setHomePhoto":
          console.log("设置首页")
          break  
        case "editAlbum":
          console.log("编辑相册信息")
          break 
      }
    }
  },
  mounted() {
    let self = this;
    let uid = getToken();
    if(uid){
      // 查询用户相册信息
      albumServer({uid: getToken()}).then(function(data){
        self.albums = data.result;
        self.setAlbums(data.result);
        localStorage.removeItem("albums")
        localStorage.setItem("albums", JSON.stringify(data.result))
      })
    }
  }
};
</script>

<style scoped>
  @import '../../common/stylesheets/album_photo.css';
  .album {
    padding: 0 24px;
    overflow-x: hidden;
    width: 100%;
  }
  .albumCard {
    position: relative;
  }
  .drop-menu {
    width: 23px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }
</style>

