<template>
  <el-carousel 
      :interval="4000" 
      :initial-index="initial_index" 
      indicator-position="none" 
      :autoplay = "false"
      :change = "carousel_change"
      height="600px"
      arraw="always"
      ref="carousel_controll">
      <el-carousel-item v-for="image in $store.state.gallery.images" :key="image.photo_id" >
          <img class="carousel_image" :src="setSrc(image)" :width="setWidth(image.photo_width)" :height="setHeight(image.photo_width, image.photo_height)">
      </el-carousel-item>
  </el-carousel>
</template>

<script>
  import config from "config";
  export default {
      data() {
        return { 
            host: config.publicBucketDomain,
            initial_index: this.$store.state.zoomPhoto.index
        }
      },
      methods: {
        init: function(index){
          let self = this;
          this.initial_index = this.$store.state.zoomPhoto.index
        },
        prev: function(){
          console.log("上一页")
        }, 
        next: function(){
          console.log("下一页")
        },
        carousel_change: function(index){
          this.initial_index = $store.state.gallery.zoomPhoto.index;
        },
        setWidth: function(width){
          if(width && width<1000){
            return width
          }else{
            return "100%"
          }
        },
        setHeight: function(width, height){
          if(width && width<1000){
            return height
          }else{
            return "100%"
          }
        },
        setSrc: function(image){
          return this.host +'/'+ image.photo_qiniu_link
        }
      },
      updated() {
        this.init()
      },
      mounted() {
        this.$watch('initial_image', function(val,oldval){
          this.init()
        })
      },
  } 
</script>

<style>
.carousel_image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
}
</style>
