<template>
  <div class="photoPage">
    <div class="albumPage">
      <div class="albumContent">
          <uploadPhoto></uploadPhoto>
          <photoPage></photoPage>
      </div>
    </div>
  </div>

</template>

<script>

  import uploadPhoto from '@/components/uploadFile/uploadPhoto'
  import photoPage from './photoPage'
  import '@/common/stylesheets/album_photo.css';

  export default {
    data() {
      return {
        dialogVisible: false
      };
    },
    methods: {
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      }
    },
    components: {
      photoPage: photoPage,
      uploadPhoto:uploadPhoto
    }
  }
</script>

<style scoped>
  .photoPage {
    width: 100%;
    height: 100%;
  }
</style>
