<template>
    <div>
            <!-- 卡片 -->
            <div class="photoMenu">
              <waterfall
                :align="align"
                :line-gap="200"
                :min-line-gap="100"
                :max-line-gap="220"
                :single-max-width="300"
                :watch="$store.state.albums"
                @reflowed="reflowed"
                ref="waterfall"
              >
                <!-- each component is wrapped by a waterfall slot -->
                <waterfall-slot
                  v-for="(item, index) in $store.state.gallery.imagePaging"
                  :width="230"
                  :height="280"
                  :order="index"
                  :key="item.id"
                >
                  <div class="item" :style="item.style" :index="item.index">
                    <img :src="host+'/'+item.photo_qiniu_link+imageBucket" class="image" style="height:100%">
                    <div class="photoDecs">
                      <div class="clearfix">
                          <time class="time" style="color: #ffffff;">{{ changeTheDate(item.create_time) }}</time>
                      </div>
                    </div>
                    <span class="controll-bar">

                        <i @click="zoomImage(item, index)" class="el-icon-zoom-in"></i>
                        
                        <i @click="deletePhoto(item.photo_id)" class="el-icon-delete"></i>

                    </span>
                  </div>
                </waterfall-slot>
              </waterfall>

              <el-dialog 
                :visible.sync="centerDialogVisible"
                width="60%"
                custom-class="tipBoard"
                :show-close="false"
                center
                :before-close="destroyCarousel"
                ref="carousel"
                top="8vh">
                <carousel v-if="hackReset"></carousel>
              </el-dialog>
            </div>
            
            <div class="block paging">
              <!-- 分页 -->
              <el-pagination
                :small="true"
                :background="true"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="$store.state.pageCount"
                :page-size="$store.state.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="$store.state.gallery.images.length"
                :page-count="3">
              </el-pagination>
            </div>
    </div>
</template>

<script>

import config from "config";
import { deletePhotoServer, albumPhotoServer } from "api"
import { mapActions } from 'vuex'
import carousel from './carousel'

export default {
  data() {
    return {
      host: config.publicBucketDomain,
      imageBucket: config.imageBucket,
      centerDialogVisible: false,
      zoomPhoto: ""
    };
  },
  components: {
    carousel: carousel
  },
  methods: {
    ...mapActions([
      'setImage',
      'zoomImageIndex'
    ]),
    zoomImage: function(image, i){
      this.zoomPhoto = config.publicBucketDomain + '/' + image.photo_qiniu_link;
      this.centerDialogVisible = true;
      this.hackReset = true;
      image.index = i
      this.$store.dispatch("zoomImageIndex", image)
    },
    deletePhoto: function(id){
      let self = this;
      deletePhotoServer({id: id}).then(function(res){
        if(res.status){
          self.$store.dispatch("deleteImage", {
            id: id,
            pageCount: self.$store.state.pageCount
          })
        }
      })
    },
    getImages: function(res) {
      if (res.status) {
        this.$store.dispatch("setImage", {
          images: res.result, 
          pageCount: 0
        })
      }
    },
    openLoading() {
      this.loadingInstance = Loading.service({ fullscreen: true });
    },
    closeLoading() {
      this.$nextTick(() => {
        // 以服务的方式调用的 Loading 需要异步关闭
        this.loadingInstance.close();
      });
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      let pageCount = val - 1;
      this.$store.dispatch("setImage", {
        images: this.$store.state.gallery.images, 
        pageCount: pageCount
      })
    },
    changeTheDate(date){
      let d = moment(new Date(Number(date))).format('YYYY-MM-DD hh:mm:ss');
      return d
    },
    // 关闭弹框时销毁组件
    destroyCarousel(done){
      done()
      this.hackReset = false;
    }
  },
  mounted() {
    // this.openLoading();
    // 使用相册 id 得到数据库中的所有照片
    this.$store.dispatch("clearImage")
    albumPhotoServer({id: this.$route.params.key}).then(this.getImages);
  }
};
</script>

<style>
.photoPage .paging {
    padding: 30px;
    text-align: right;
    clear: both;
}

.photoPage .controll-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    color: #fff;
    transition: opacity 0.8s;
    line-height: 10;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
}

.photoPage .controll-bar:hover{
  opacity: 1; 
}

.photoPage .tipBoard {
  background: none;
  box-shadow: none;
}

.photoPage .photoDecs {
  position: absolute;
  bottom: 0px;
  text-align: center;
  background: rgba(0,0,0, 0.6);
  width: 100%;
}
</style>
