<template>
    <div class="uploadMenu">
        <el-upload
          class="upload-demo"
          ref="uploadVideo"
          action="/api/uploadvideo"
          :headers='headers'
          :multiple="true"
          :limit="50000"
          :data="uploadParams"
          :on-exceed="handleExceed"
          :on-success="handleAvatarSuccess"
          :show-file-list="true"
          :with-credentials="true"
          :file-list="fileList"
          :auto-upload="true"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove">
          <el-button size="small" type="primary">上传视频</el-button>
        </el-upload>
    </div>
</template>

<script>

  import config from "config";
  import { albumPhotoServer } from "api";
  import { mapActions } from 'vuex';

  export default {
    data() {
      return {
        dialogImageUrl: '',
        dialogVisible: false,
        uploadParams: {},
        fileList: [],
        headers: ""
      };
    },
    mounted: function(){
      this.headers = {userToken: localStorage.getItem('u')};
    },
    methods: {
      ...mapActions([
        'setImage'
      ]),
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
        if(res.status){
          this.$store.dispatch("addImage", res.result)
          this.$message({
            message: '上传文件成功',
            type: 'success'
          });
        }else{
          this.$message({
            message: '上传文件失败',
            type: 'error'
          });
        }
        this.$refs.uploadPhoto.clearFiles()
      },
      currentPageParam: function(val){
        return val.album_id === this.$route.params.key;
      },
      handleRemove(file, fileList) {
        this.fileList = [];
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      }
    }
  }
</script>

<style scoped>

.uploadMenu {
  padding: 10px;
}
.el-button {
  background-color: #409EFF;
  color: #ffffff;
}
</style>
