<template>
  <div class="footer" display="none">
    <a :href="RecordHref" class="footer-text">{{RecordNumber}}</a>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        RecordNumber: "ICP备案号: 鄂ICP备18016558号",
        RecordHref: "http://www.miitbeian.gov.cn/"
      }
    }
  }
</script>

<style scoped>
/* .footer {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  font-family: Arial;
  font-size: 12px;
}
.footer-text {
  color: #35A8DF;
  text-decoration: none;
  user-select: none;
} */
</style>
