<template>
  <el-row class="container">
    <el-col :span="24" class="topbar-wrap">
      <!-- 主页log -->
      <!-- <div class="topbar-logo topbar-btn">
        <a href="/"><img src="../../assets/images/mo-white.png" style="padding-left:8px;"></a>
      </div> -->
      <!-- 网站名称 -->
      <!-- <div class="topbar-logos">
        <a href="/" style="color: #fff;">子墨相册</a>
      </div> -->
      <!-- 导航条 -->
      <div class="topbar-title">
        <el-row>
          <el-col :span="24">
            <el-menu :default-active="2" class="el-menu-demo" mode="horizontal" @select="handleSelect" :router="true">
              <el-menu-item class='homeTitle' index="/">子墨相册</el-menu-item>
              <el-menu-item index="/album">云盘</el-menu-item>
              <el-menu-item index="/technologyStack">技术栈</el-menu-item>
            </el-menu>
          </el-col>
        </el-row>
      </div>
      <!-- 个人中心 -->
      <div class="topbar-account topbar-btn">
        <el-dropdown trigger="click">
          <span class="el-dropdown-link userinfo-inner">
            <i class="iconfont icon-user"></i> 超级管理员   <i class="el-icon-caret-bottom"></i></span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <div><span style="color: #555;font-size: 14px;">个人信息</span></div>
            </el-dropdown-item>
            <el-dropdown-item>
              <div><span style="color: #555;font-size: 14px;">修改密码</span></div>
            </el-dropdown-item>
            <el-dropdown-item>
              <div @click="loginOut()">退出登录</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-col>
  </el-row>
</template>
<script>
import { loginOut } from '../../common/common.js'

export default {
  data() {
    return {
      activeIndex: "1"
    };
  },
  mounted() {
    if(this.$route.name === "technologyStack"){
      this.activeIndex = "2"
    }else if(this.$route.name === "Album" || this.$route.name === "Photo"){
      this.activeIndex = "1"
    }else if(this.$route.name === "Index"){
      this.activeIndex = "0"
    }
  },
  methods: {
    loginOut() {
      this.$router.push("/login")
    },
    // handleSelect(key, keyPath) {
    //   console.log(key, keyPath);
    //   switch (key) {
    //     case "1":
    //       this.$router.push('/')
    //       break;
    //     case "2":
    //       this.$router.push('/album')
    //       break;
    //     case "3":
    //       this.$router.push('/login')
    //       break;  
    //     default:
    //       this.$router.push('/')
    //       break;
    //   }
    // }
  }
};
</script>
