<template>
    <div style="padding: 24px">
          <waterfall 
            :align="align"
            :line-gap="300"
            :min-line-gap="100"
            :max-line-gap="1080"
            :single-max-width="300"
            :watch="images"
            @reflowed="reflowed"
            ref="waterfall"
          >
            <!-- each component is wrapped by a waterfall slot -->
            <waterfall-slot
              v-for="(item, index) in images"
              :width="item.photo_width"
              :height="item.photo_height"
              :order="index"
              :key="item.id"
            >
              <div class="item" :style="item.style" :index="item.index">
                  <img class="cursor-pointer" :src="host +  '/' + item.photo_qiniu_link + imageBucket" preview="index" alt="" width="100%" height="100%">
              </div>
            </waterfall-slot>
        </waterfall>
    </div>

</template>

<script>

import { getAllPhotoByUser, deletePhotoServer } from "api"
import config from "config"
import { getToken, getSlice } from 'common'

export default {
  data() {
    return {
      host: config.publicBucketDomain,
      imageBucket: config.imageBucket,
      cartNum: 3,
      images: [],
      imageWidth: 0,
      heightArr: [],
      widthArr: [],
      centerDialogVisible: false,
      zoomPhoto: ""
    }
  },
  methods: {
    initHome: function(){
      let self = this
      getAllPhotoByUser({uid: getToken()}).then(function(data){
        if(data.status){
          // 按时间排序
          let photos = data.result.sort(function(a, b) {
            return b.create_time - a.create_time
          })
          // 渲染数据
          photos.forEach(function(imageInfo){
            if(imageInfo.photo_height){
              self.images.push(imageInfo)
            }
          })
        }
      })
    },
    setImageStyle: function(allImg){
        let width = 960 - 40;
        this.imageWidth = width / this.cartNum;
        for (let i = 0; i < this.cartNum; i++) {
            this.heightArr.push(0)
            this.widthArr.push(this.imageWidth * i)
        }
        let self = this;
        if(this.$refs&&this.$refs.imgs){
          this.$refs.imgs.forEach(function (imgDom, i) {
            let height = self.imageWidth/self.images[i].photo_width * self.images[i].photo_height
            imgDom.style.width = self.imageWidth + 'px';
            imgDom.style.height = height + 'px';
            imgDom.style.left = self.widthArr[i % 3] + 'px';
            imgDom.style.top = self.heightArr[i % 3] + 'px';
            self.heightArr[i % 3] += height;
          })
        }

        this.heightArr = [];
        this.widthArr = [];
    },
    zoomImage: function(image){
      this.zoomPhoto = config.publicBucketDomain + '/' + image.photo_name
      this.centerDialogVisible = true
    },
    deletePhoto: function(id){
      let self = this;
      deletePhotoServer({id: id}).then(function(res){
        if(res.status){
          // console.log(self.images)
          self.images = self.images.filter(function(item){
            return item.photo_id !== id
          })
        }
      })
    },
    openLoading() {
      this.loadingInstance = Loading.service({ fullscreen: true });
    },
    closeLoading() {
      this.$nextTick(() => {
        // 以服务的方式调用的 Loading 需要异步关闭
        this.loadingInstance.close();
      });
    },
  },
  components: {
  },
  updated: function(){
    if(this.$refs){
      this.setImageStyle();
    }
  },
  mounted() {
    this.initHome();
    const self = this;
    window.onresize = () => {
        return (() => {
            self.setImageStyle()
        })()
    }    
  }
};
</script>

<style scoped>
  @import '../../common/stylesheets/album_photo.css';
  ul {
      margin: 0;
      padding: 0;
  }

  .ul-item {
    position: absolute;
    width: 960px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .li-item {
      box-sizing:border-box;
      list-style:none;
      margin: 0;
      display: block;
      padding: 15px;
      /* border: solid 1px white; */
      position: absolute;
      background-color: #F9F9F9;
  }
  .li-item>span {
      display: block;
  }
  li:nth-of-type(3n+1) {
      clear: both;
  }
  .controll-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      display: inline-block;
      background-color: rgba(0,0,0,.5);
      text-align: center;
      color: #fff;
      transition: opacity 0.8s;
      line-height: 10;
      opacity: 0;
      font-size: 20px;
      margin: 15px;
  }
  .controll-bar:hover{
    opacity: 1; 
  }

</style>
<style>
  .tipBoard {
    background: none;
    box-shadow: none;
  }
  .cursorPon{
    cursor: pointer;
  }
  .cursor-pointer {
    cursor: pointer;
  }
</style>


