<template>
    <div class="loginPage">
      <login1></login1>

      <div class="footer">
       <footer-copyright></footer-copyright>
      </div>
    </div>
</template>

<script>
import login1 from "./login/login1" 

export default {
  data() {
    return {
    }
  },
  components: {
    login1: login1
  },
  methods: {
  },
  mounted() {
  }
};
</script>

