.login {
  height: 1000px;
}

.time {
  font-size: 13px;
  color: #ffffff;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  height: 70%;
  display: block;
  cursor: pointer;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.albumCard .el-col,
.photoCard .el-col {
  width: 163px;
  position: relative;
  /* height: 190px; */
}

.el-card {
  padding: '5px'
}

.albumPage {
  width: 100%;
  height: 80%;
}

.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}

.albumContent {
  width: 100%;
  font-size: 14px;
  background: #fff;
}

.albumCard,
.photoCard {
  cursor: pointer;
  float: left
}

.el-card {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  border: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  border-radius: 0px;
  /* padding: 5px; */
}

.albumDecs {
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  padding: 5px;
  /* line-height: 0px;
  padding-top: 15px; */
  /* width: 126px;
  height: 25px; */
}

/* .albumDecs:after{
  content: "..."
} */

.text_word {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time {
  color: #BABDC7;
  font-size: 10px;
}

.ablum {
  height: auto;
  /* clear: both; */
  overflow: -webkit-paged-y;
  padding-bottom: 60px;
}

/* 瀑布流 */
.vue-waterfall-slot .item {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  font-size: 1.2em;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.vue-waterfall-slot .item:after {
  content: attr(index);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.vue-waterfall-slot .wf-transition {
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.vue-waterfall-slot .wf-enter {
  opacity: 0;
}