<template>
  <div id="svgCircleContainer">
    <svg id="svgCircleProgressBar" xmlns="http://www.w3.org/2000/svg" width="200" height="200">
        <path id="ring" d="M0 0" fill="red" stroke="blue" fill-opacity="0.2" stroke-width="1" />
    </svg>
  </div>
</template>

<script>
export default {
  data() {
    return {
      timer: null,
      lastP: 0,
      newPoint14: [],
      newPoint23: [],
      BrokenPointIf: true
    };
  },
  mounted() {
    let r = 100; // 圆的半径
    let ox = 100; // x 轴
    let oy = 100; // y 轴
    let c = 360; // 圆周上的点的个数
    let p = 100; // 百分比
    let ring = document.getElementById("pValue");
    if (typeof p === "number" && p <= 100 && p >= 0) {
      this.ProgressBar(r, ox, oy, c, p);
    }
  },
  methods: {
    ProgressBar: function(r, ox, oy, c, p) {
      if (typeof p === "number" && p <= 100 && p >= 0) {
        this.getPoint(r, ox, oy, c);
        let self = this;
        let ring = document.getElementById("ring");
        let allPoint = self.newPoint14.concat(self.newPoint23);
        let count = 0;
        if(self.lastP >= allPoint.length){
          self.lastP = 0
        }
        count = self.lastP ? self.lastP : 0;

        let str = `M${ox} ${oy}, v-${r}`;

        self.timer = setInterval(function() {
          let newPoint = [];
          let result_data;
          let partPoint = allPoint.slice(0, allPoint.length * (p / 100));
          let pathD = getPathd(partPoint[count]);
          if (pathD) {
            let path = str + pathD;
            ring.setAttribute("d", path + ", z");
          }

          if (count === partPoint.length) {
            newPoint = 0;
            clearInterval(self.timer);
            // ring.setAttribute("d", "M0,0");
            self.newPoint14 = [];
            self.newPoint23 = [];
            // console.log(self.lastP, allPoint.length)

            self.lastP = count;
          }
          if (partPoint.length < count) {
            alert("参数小于或等于起始值")
            self.newPoint14 = [];
            self.newPoint23 = [];
            clearInterval(self.timer);
          }
          count += 1;
        }, 10);
      }

      // 正圆反圆和消失
      function getPathd(point) {
        if (point && point.length) {
          let aArg = [];
          if (point[0] >= ox) {
            aArg = ["A", r, r, 0, 0, 1];
          } else {
            aArg = ["A", r, r, 0, 1, 1];
          }
          return aArg.concat(point).join(" ");
        } else {
          return false;
        }
      }
    },
    // 计算圆周上的点
    getPoint: function(r, ox, oy, count) {
      let points = []; // 结果
      let oneLoop = Math.round(360 / count); // 一次旋转的角度数
      var radians = Math.PI / 180 * oneLoop; // 一次旋转的弧度数

      for (var i = 0; i < count; i++) {
        var x = ox + r * Math.sin(radians * i);
        var y = oy + r * Math.cos(radians * i);
        points.unshift([x, y]); //为保持数据顺时针
      }
      this.PointPos(ox, oy, points);
    },
    // 计算第一象限和第二象限的值
    PointPos: function(ox, oy, point) {
      let self = this;
      let newPoint1 = [];
      let newPoint4 = [];
      let newPoint3 = [];
      let newPoint2 = [];
      point.forEach(function(pos, index) {
        let pos0 = Math.round(pos[0]);
        let pos1 = Math.round(pos[1]);
        if (pos0 >= ox && pos1 <= oy) {
          newPoint1.push(pos);
        } else if (pos0 >= ox && pos1 >= oy) {
          newPoint4.push(pos);
        }
        if (pos0 <= ox && pos1 >= oy) {
          newPoint3.push(pos);
        } else if (pos0 <= ox && pos1 <= oy) {
          newPoint2.push(pos);
        }
      });
      self.newPoint14 = [].concat(newPoint1, newPoint4);
      self.newPoint14 = self.newPoint14.sort(function(a, b) {
        return a[1] - b[1];
      });
      self.newPoint23 = [].concat(newPoint3, newPoint2);
      self.newPoint23 = self.newPoint23.sort(function(a, b) {
        return b[1] - a[1];
      });
    }
  }
};
</script>

<style>
#pathText {
  width: 100%;
  height: 100px;
  border: 1px solid;
  position: fixed;
  bottom: 5px;
}
</style>
