<template>
  <div>
    <div>
      <input type="number" id="pValue">
      <button @click="progressBarInput">旋转</button>
      <CircleProgressBar ref="progressBar"></CircleProgressBar>
    </div>
    
  </div>
</template>

<script>
  import CircleProgressBar from "./CircleProgressBar.vue"
  export default {
    data(){
      return {
        
      }
    },
    components: {CircleProgressBar},
    methods: {
      progressBarInput: function(){
        let r = 100; // 圆的半径
        let ox = 100; // x 轴
        let oy = 100; // y 轴
        let c = 360; // 圆周上的点的个数
        let p = Number(document.getElementById("pValue").value);
        this.$refs.progressBar.ProgressBar(r, ox, oy, c, p)
      }
    }
  }
</script>
