<template>
  <div class="photoPage">
    <div class="albumPage">
      <div class="albumContent">
          <uploadVideo></uploadVideo>
          <videoPage></videoPage>
      </div>
    </div>
  </div>

</template>

<script>

  import uploadVideo from '@/components/uploadFile/uploadVideo'
  import videoPage from './videoPage'
  import '@/common/stylesheets/album_photo.css';

  export default {
    data() {
      return {
        dialogVisible: false
      };
    },
    methods: {
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      }
    },
    components: {
      videoPage: videoPage,
      uploadVideo: uploadVideo
    }
  }
</script>

<style scoped>
  .photoPage {
    width: 100%;
    height: 100%;
  }
</style>
