<template>
    <div>
            <!-- 卡片 -->
            <div class="photoMenu">
              <waterfall
                :align="align"
                :line-gap="200"
                :min-line-gap="100"
                :max-line-gap="220"
                :single-max-width="300"
                :watch="$store.state.albums"
                @reflowed="reflowed"
                ref="waterfall"
              >
                <!-- each component is wrapped by a waterfall slot -->
                <waterfall-slot
                  v-for="(item, index) in $store.state.gallery.imagePaging"
                  :width="180"
                  :height="280"
                  :order="index"
                  :key="item.id"
                >
                 <!-- @click="startVideo(item)" -->
                  <div class="item" :style="item.style" :index="item.index" @click="startVideo(item)">
                    <img :src="host+'/'+item.name + '?vframe/jpg/offset/0'" width="100%" >
                  </div>
                </waterfall-slot>
              </waterfall>
            </div>
            
            <div class="block paging">
              <!-- 分页 -->
              <el-pagination
                :small="true"
                :background="true"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="$store.state.pageCount"
                :page-size="$store.state.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="$store.state.gallery.images.length"
                :page-count="3">
              </el-pagination>
            </div>
            <el-dialog
              title=""
              :visible.sync="dialogVisible"
              width="80%"
              center="true"
              modal="true"
              custom-class="dialogStyle"
              @close='closeDialog'
              >
                <videoPlay :playSrc="dialogVideoSrc" :playPoster="dialogVideoSrc+'?vframe/jpg/offset/0'"></videoPlay>
            </el-dialog>
    </div>
</template>

<script>

import config from "config";
import { deletePhotoServer, getAllVideosByUser } from "api";
import { mapActions } from 'vuex';
import videoPlay from "./videoPlay";

export default {
  data() {
    return {
      dialogVisible: false,
      dialogVideoSrc: "",
      host: config.publicBucketDomain,
      centerDialogVisible: false,
      zoomPhoto: ""
    };
  },
  components: {
    videoPlay: videoPlay
  },
  methods: {
    ...mapActions([
      'setImage',
      'zoomImageIndex'
    ]),
    startVideo(item){
      this.dialogVisible = true
      this.dialogVideoSrc = this.host+'/'+item.name
    },
    closeDialog(){
      this.dialogVideoSrc = '';//清空数据
      this.dialogVisible = false
    },
    deletePhoto: function(id){
      let self = this;
      deletePhotoServer({id: id}).then(function(res){
        if(res.status){
          self.$store.dispatch("deleteImage", {
            id: id,
            pageCount: self.$store.state.pageCount
          })
        }
      })
    },
    getImages: function(res) {
      if (res.status) {
        this.$store.dispatch("setImage", {
          images: res.result, 
          pageCount: 0
        })
      }
    },
    openLoading() {
      this.loadingInstance = Loading.service({ fullscreen: true });
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      let pageCount = val - 1;
      
      this.$store.dispatch("setImage", {
        images: this.$store.state.gallery.images, 
        pageCount: pageCount
      })
    },
    changeTheDate(date){
      let d = moment(new Date(Number(date))).format('YYYY-MM-DD hh:mm:ss');
      return d
    },
    // 关闭弹框时销毁组件
    destroyCarousel(done){
      done()
      this.hackReset = false;
    }
  },
  mounted() {
    // 得到数据库中的所有视频
    this.$store.dispatch("clearImage")
    getAllVideosByUser().then(this.getImages);
  }
};
</script>

<style>

.el-dialog .el-dialog__header {
  padding: 0px !important;
}
.el-dialog .el-dialog__body {
  padding: 0px !important;
}
.photoPage .item img {
  max-height: 320px;
  cursor: pointer;
}
.photoPage .dialogStyle {
  background-color: black;
}
.photoPage .paging {
    padding: 30px;
    text-align: right;
    clear: both;
}

.photoPage .controll-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    color: #fff;
    transition: opacity 0.8s;
    line-height: 10;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
}

.photoPage .controll-bar:hover{
  opacity: 1; 
}

.photoPage .tipBoard {
  background: none;
  box-shadow: none;
}

.photoPage .photoDecs {
  position: absolute;
  bottom: 0px;
  text-align: center;
  background: rgba(0,0,0, 0.6);
  width: 100%;
}
</style>
