<template>
   <div class="drop-com">
        <div class="drop-title">您好</div>
        <div class="drop-board">
            <div v-for="(item, index) in userDropData" :key="index">
                <a :href="item.link">{{item.name}}</a>
            </div>
        </div>
   </div>

</template>

<script>
    export default {
        props: ['userDropData'],
        data(){
            return {

            }
        }
    }
</script>

<style lang="less" scoped>
.drop-com{
    .drop-board{
        z-index: 100;
    }
}
</style>
