<template>
    <!-- 左边栏 -->
    <div>
        <!-- 关注数 粉丝数 微博数 -->
        <innerwrap></innerwrap>
        <!-- 个人信息 -->
        <profile></profile>
        <!-- 微关系 -->
        <div></div>
        <!-- 相册 -->
        <div></div>
        <!-- 赞 -->
        <div></div>
        <!-- 相关推荐 -->
        <div></div>
    </div>
</template>

<script>
    import innerwrap from "@/components/webeffect/weibo/myPage/left-menu/innerwrap"
    import profile from "@/components/webeffect/weibo/myPage/left-menu/profile"

    export default{
        components: {
            innerwrap: innerwrap,
            profile: profile
        }
    }
</script>

<style scoped>

</style>
