<template>
  <div class="nav">
      <div class="nav-menu">
            <!-- log/搜索框 -->
            <div class="u-text-align-left">
                <div class="u-float-left u_WB_log">
                </div>
                <div class="u-float-left inputTextDiv">
                    <input class="input-text" type="text" placeholder="大家都在搜: 李洋在写布局">
                    <i class="icon-search"></i>
                </div>
            </div>
            <!-- 首页|视频|发现|游戏 -->
            <div class="u-float-left button-menu">
                <div class="u-float-left u_home">首页</div>
                <div class="u-float-left u_video">视频</div>
                <div class="u-float-left u_find">发现</div>
                <div class="u-float-left u_game">游戏</div>
                <div class="u-float-left u_user username">截图2012</div>
            </div>
            <!-- 邮箱|设置|编辑 -->
            <div class="u-float-right button-menu-set">
                <div class="u-float-left u_mail"></div>
                <div class="u-float-left u_set"></div>
                <div class="u-float-left u_edit"></div>
            </div>
      </div>
  </div>
</template>

<script>

export default {
    name: "navigation",
    data () {
        return {
            
        }
    }
}
</script>

<style lang="less" scoped>
.nav{
    border-top: 2px solid #fa7d3c;
    height: 50px;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3), 0 0 6px 2px rgba(0,0,0,0.15);
    background: rgba(255,255,255,0.94);
    overflow: hidden;
    font-size:16px;
}

.nav-menu{
    margin: 0 auto;
    width: 1000px;
}
.username{
    width: 70px;
    border-right: 1px solid #dddddd;
}
.button-menu {
    padding: 16px 0 8px 70px;
}
.button-menu-set{
    padding: 16px 0;
}
/* input */
.inputTextDiv{
    height: 28px;
    margin: 9px 0 0 10px;
    background-color: #f2f2f5;
    border: 1px solid #ccc;
    // position: absolute;
}
.input-text{
    width: 155px;
    padding: 4px 33px 4px 10px;
    height: 20px;
    line-height: 20px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: #808080;
    outline-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.icon-search{
    width: 20px;
    height: 18px;
    position: relative;
    right: 11px;
    top: 5px;
    display: inline-block;
    // background: url('static/weibo/myPage/search.png') no-repeat center;
    background-size: 26px;
    cursor: pointer;
}
ul.m-ul-float{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}

ul.m-ul-float li{
    float: left;
}
</style>
