<template>
    <div>
        <!-- 全部|更多|搜索框 -->
        <selectBar class="selectBar"></selectBar>
        <!-- 微博内容 -->
        <weiboContent></weiboContent>
    </div>
</template>

<script>
    import selectBar from "@/components/webeffect/weibo/myPage/right-menu/selectBar.vue"
    import weiboContent from "@/components/webeffect/weibo/myPage/right-menu/weiboContent.vue"
    export default {
        components: {
            selectBar:selectBar,
            weiboContent:weiboContent
        }
    }
    </script>

<style scoped>
    .selectBar{
        width: 600px;
        height: 38px;
        background-color: #ffffff;
        margin-bottom: 15px;
    }
</style>
