<template>
    <div class='my-project-child'>
        <div class="content-padding">
            <app-banner :listImg="listImg"></app-banner>
            <div class="m-title-user">
                <div class="m-content-photo">
                    <p class="m-title-photo">
                        <img src="../../../../../static/weibo/myPage/title.jpg" alt='{username}' class="m-photo">
                    </p>
                </div>
                <div class="user-div">
                    <h2 class="username">{{username}}</h2>
                </div>
                <div class="user-desc">
                    {{desc}}
                </div>
            </div>
        </div>

        <!-- home/photo page -->
        <div class="m-home-photo">
            <div class="margin-auto">
                <div class="m-float-left m-width-button" 
                    :key="index" 
                    v-for="(item,index) in buttonText">
                    <div :class="[index==0?'m-home-first':'']">{{item}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
let buttonText = ["我的主页", "我的相册", "管理中心"];
import Banner from "@/components/libs/Banner.vue";
import a from "@/../static/img/home/banner1.jpg";
import b from "@/../static/img/home/banner2.jpg";
import c from "@/../static/img/home/banner3.jpg";
import d from "@/../static/img/home/banner4.jpg";
import e from "@/../static/img/home/banner5.jpg";

export default {
  data() {
    return {
      buttonText: buttonText,
      username: "截图2015",
      desc: "This is my space,believe it or not.",
      listImg: [
        {
          url: a
        },
        {
          url: b
        },
        {
          url: c
        },
        {
          url: d
        },
        {
          url: e
        }
      ]
    };
  },
  components: {
    "app-banner": Banner
  },
  methods: {
    onchange_button_active() {}
  }
};
</script>

<style lang="less" scoped>
/* 整个div */
.my-project-child {
  padding: 15px 0;
}
.content-padding {
  clear: both;
  display: clock;
  width: 920px;
  height: 280px;
  background-color: antiquewhite;
  color: #ffffff;
  .m-title-user {
    position: relative;
    top: -270px;
    z-index: 1;
    /* 头像 */
    .m-content-photo {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 20px auto 0;
      padding: 4px;
      background: #fff;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      //   头像
      .m-title-photo {
        display: initial;
        .m-photo {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      /* 名称|描述 */
      .user-div {
        position: relative;
        top: 10px;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        vertical-align: text-bottom;
      }
      .user-div .username {
        display: inline;
        position: relative;
        top: 25px;
        font-size: 25px;
        display: inline;
      }
      .user-desc {
        display: inline;
        top: 37px;
        position: relative;
        color: #fff;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/* 主页|相册|管理中心 */
.m-float-left {
  float: left;
  display: inline;
}
.m-width-button {
  width: 184px;
  line-height: 38px;
}
.m-home-photo {
  background-color: #ffffff;
  font-size: 14px;
  width: 920px;
  height: 40px;
  overflow: hidden;
}
.m-home-photo .active:hover {
  font-weight: bold;
  cursor: pointer;
}
.margin-auto {
  width: 552px;
}
.m-home-first {
  width: 65px;
  border-bottom: 2px solid #fa7d3c;
}
</style>
