<template>
<div class="selectBar">
    <div class="allPage">全部</div>
    <div class="m-text-padding">
        <input class="input-text" type="text" placeholder="搜索他的微博">
    </div>
</div>
</template>

<script>
    
</script>

<style scoped>
.allPage{
    float: left;
    width: 90px;
    height: 36px;
    line-height: 35px;
    border-bottom: 2px solid #fa7d3c;
}
.m-text-padding{
    padding: 6px;
}
.input-text{
    width: 164px;
    height: 24px;
    float: right;
    border: 1px solid #cccccc;
    line-height: normal;
    padding: 0 0 0 10px;
    vertical-align: middle;
    color: #808080;
    outline-style: none;
    background-color: transparent;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
}
</style>
