<template>
  <div class="item">
      <div class="m-margin-bottom" v-for="(val,key) in weiboItem" :key="key">
        <div class="item-header">
            <div class="u-float-left">
                <img class="u_titleImg" alt="">
            </div>
            <div class="item-content u-float-right">
                <div class="table-th">{{val.name}}</div>
                <div class="table-th">{{val.time}}</div>
                <div class="table-th">{{val.decs}}</div>
                <div class="table-th">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="item-footer">
            <div class="u-float-left button-group" v-for="(item,index) in buttonGroup" :key="index">{{item}}</div>
        </div>
      </div>
  </div>
</template>

<script>
    let buttonGroup = ["收藏","转发","评论","赞"]
    let weiboItem = []
    let weiboObj = {
        name: "截图2015",
        time: "2016-9-28 11:29 来自 分享按钮",
        decs: "#兴趣部落#【javascript操作符知识点...】javascript的操作符有一元操作符、位操作符、布尔操作符、乘性操作符、加性操作符、关系操作符、 O网页链接 ​​​"
    }
    for(let i=0;i<10;i++){
        weiboItem.push(weiboObj);
    }
    export default {
        data(){
            return {
                buttonGroup:buttonGroup,
                weiboItem:weiboItem
            }
        }
    }
</script>

<style lang="less" scoped>
.item {
    .m-margin-bottom{
        margin-bottom: 15px;
        .item-header{
            width: 560px;
            height: 76px;
            overflow: hidden;
            zoom: 1;
            background-color: #ffffff;
            padding: 20px 20px 4px;
        }
        .item-content{
            width: 500px;
            margin-left: 10px;
        }
        .titleImg{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .table-th{
            text-align: left;
        }
    }

    .item-footer{
        width: 600px;
        height: 24px;
        line-height: 24px;
        padding: 7px 0;
        background-color: #ffffff;
        border-top: 1px solid #d9d9d9;
        .button-group{
            width: 149px;
            border-left: 1px solid #d9d9d9;
            margin-left: -1px;
        }
    }

}

</style>
