<template>
    <div>
        <div class="sina-top-search">
            <div class="sinalogo"></div>
            <div class="singSearch">
                <div class="select-dropbox">
                    <h3>新闻 <span class="tn-arrow"></span></h3>
                </div>
                <input class="select-input" type="text" placeholder="大家正在搜: 李洋在写布局">
                <div class="sinaSearchIcon"></div>
            </div>
        </div>
        <div class="category">
            <div class="cateBoard" :class="{'sinaWidth':index==4}" v-for="(cateItemArr,index) in cateTreeArr" :key="index">
                <ul class="cateText" v-for="(item, xindex) in cateItemArr" :key="xindex">
                    <li :class="{'sinabold':zindex==0}" v-for="(text, zindex) in item" :key="zindex">
                      <a href="#">{{text}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <parta></parta>
    </div>
</template>

<script>
  import parta from '@/components/webeffect/sina/parta.vue'

  export default {
    components: {
      parta: parta
    },
    data() {
      return {
        cateTreeArr: this.cateArr()
      };
    },
    
    methods: {
      cateArr: function() {
        let cateArr = [
          ["新闻", "军事", "社会", "国际"],
          ["财经", "股票", "基金", "外汇"],
          ["科技", "手机", "探索", "众测"],
          ["体育", "NBA", "英超", "中超"],
          ["娱乐", "明星", "电影", "星座"],
          ["汽车", "报价", "买车", "新车"],
          ["博客", "专栏", "历史", "天气"],
          ["视频", "综艺", "VR", "直播"],
          ["房产", "二手房", "家居", "收藏"],
          ["时尚", "女性", "健康", "育儿"],
          ["教育", "出国", "公益", "佛学"],
          ["图片", "读书", "投诉", "司法"],
          ["微博", "城市", "鲜城", "湖北"],
          ["旅游", "文化", "彩票", "高尔夫"],
          ["游戏", "手游", "邮箱", "English"]
        ];
        // 每列三个
        let newCateArr = [];
        let everyThree = [];
        cateArr.forEach((item, index) => {
          if ((index + 1) % 3) {
            everyThree.push(item);
          } else {
            everyThree.push(item);
            newCateArr.push(everyThree);
            everyThree = [];
          }
        });
        return newCateArr;
      }
    }
  };
</script>

<style lang="less" scoped>
  .sina-top-search {
    position: relative;
    .singSearch {
      width: 407px;
      height: 38px;
      // border: 1px solid #dddddd;
      margin: 11px 0 0 23px;
      color: #666;
      font-size: 12px;
      font-family: "Arial", "SimSun", "宋体";
      .select-dropbox {
        width: 58px;
        border: 1px solid #c1c1c1;
        border-right: 0;
        border-radius: 3px 0 0 3px;
        cursor: pointer;
        display: inline;
        line-height: 5px;
        text-align: left;
        padding-left: 15px;
      }
      .select-input {
        position: absolute;
        left: 227px;
        top: 11px;
        width: 242px;
        border: 1px solid #c1c1c1;
        padding: 8px 0px 8px 14px;
        font-size: 14px;
        font-weight: 500;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .category {
    clear: both;
    // width: 179px;
    margin-top: 15px;
    .cateBoard {
      border-right: 1px solid #dddddd;
      padding: 0 5px;
      ul.cateText {
        // padding: 0 15px;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 174px;
        height: 26px;
        .sinabold {
          font-weight: 800;
        }
        li {
          cursor: pointer;
          float: left;
          width: 27px;
          margin-left: 13px;
          line-height: 26px;
          text-align: center;
          white-space: nowrap;
          display: inline;
          color: #000;
          font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
          a {
            color: #000;
            text-decoration: none;
            &:hover {
              color: #e66100;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .sinaWidth {
      width: 186px;
    }
  }
  
  div {
    float: left;
  }

</style>
