<template>
  <div class="navbar">
      <div class="u-float-left">
          <div>
              <i>设为首页</i>
          </div>
          <div>
              <i>手机新浪网</i>
          </div>
          <div>
              <i>
                  移动客户端
                  <span class="tn-arrow"></span>
              </i>  
          </div>
      </div>
      <div class="float-right">
          <div><i>您好,</i></div>
          <div @mouseover="usermouse">
              <i>截图2012 <span class="tn-arrow"></span>
              </i>
          </div>
          <div><i>
              <a href="#/weibo" target="_blank">微博 <span class="tn-arrow"></span></a>
          </i></div>
          <div><i>博客 <span class="tn-arrow"></span></i></div>
          <div><i>邮箱 <span class="tn-arrow"></span></i></div>
          <div><i>网站导航</i></div>
      </div>
  </div>
</template>

<script>
    import dropList from "@/components/libs/dropList.vue"
    var userDropData = [{
        name: "我的收藏",
        link: "http://www.baidu.com"
    },{
        name: "退出",
        link: "http://www.baidu.com"
    }]
    export default {
        components:{
            dropList: dropList
        },
        data(){
            return {
                userDropData: userDropData
            }
        },
        methods:{
            usermouse: function(){
                // console.log()
            }
        }
    }
</script>


<style lang="less" scoped>
.navbar {
  div.float-right{
      div{
          padding: 0 3px;
      }
      float: right;
      margin-right: 7px;
  }
  div {
    float: left;
    &:hover{
        i {
            color: "#ff8500"
        }
    }
  }
  i {
    display: inline-block;
    height: 17px;
    padding: 12px 9px 12px 20px;
    vertical-align: bottom;
    font-style: normal;
    font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";
    font-weight: 500;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #4c4c4c;
  }
  margin: 0 auto;
  width: 1000px;
}
</style>
