<template>
  <div class="part-top-margin">
      <div class="part-a-l u-float-left">
          <div class="l-title">
              <span>新浪产品</span>
              <span class="mod-guess-control l-next" title="下一页"></span>
              <span class="mod-guess-control l-last" title="上一页"></span>
          </div>
          <div class="l-content">
              <div class="l-content-t">

              </div>
          </div>
      </div>
      <div class="part-a-m u-float-left">
          <div>
                <sinaSwitchTitle :partAF="partAF"></sinaSwitchTitle>
                <div class="partAF"></div>
          </div>

          <div></div>
          <div></div>
      </div>
      <div class="part-a-n u-float-left">
          <sinaSwitchTitle :partAF="partAFo"></sinaSwitchTitle>
      </div>
  </div>
</template>

<script>
    import SwitchTitle from "./partcomponents/switchtitle";
    import api from '../../../common/api.js'

    let partAF = [
        {text: "图片"},
        {text: "专栏"},
        {text: "热点"}
    ]

    let partAFo = [
        {text: "新闻"},
        {text: "看湖北"}
    ]

    export default {
        components: {
            sinaSwitchTitle: SwitchTitle
        },
        data(){
            return {
                partAF:partAF,
                partAFo:partAFo,
                newsListShow: [],
            }
        },
        created() {
            this.setNewsApi();
        },
        methods:{
            setNewsApi: function() {
                api.JH_news('/news/index', 'type=top&key=123456')
                .then(res => {
                    this.newsListShow = res.articles;
                });
            },
        }
    }

</script>

<style lang="less" scoped>

    .font-style() {
        text-align: left;
        font-size: 16px;
        color: #111;
        font-weight: bold;
        border-bottom: 1px solid #dddddd;
    }
    .part-top-margin{
        margin-top: 50px;
        .part-a-l{
            width: 238px;
            height: 217px;
            border: 1px solid #dddddd;
            border-top: 3px solid #ff8500;
            margin-top: 10px;
            margin-right: 20px;
            .l-title{
                text-align: left;
                font-size: 16px;
                color: #111;
                font-weight: bold;
                border-bottom: 1px solid #dddddd;
                padding: 7px 10px;
                .l-last{
                    background-position: -146px -553px;
                    float: right;
                    &:hover{
                        background-position: -148px -519px;
                    }
                }
                .l-next{
                    background-position: -172px -553px;
                    float: right;
                    &:hover{
                        background-position: -123px -519px
                    }
                }
            }
            .l-content{

            }
        }
        .part-a-m{
            margin-right: 20px;
            width: 360px;
            height: 889px;
            .font-style();
            .partAF{
                height: 241px;
                border: 1px solid #dddddd;
            }
        }
        .part-a-n{
            width: 358px;
            height: 889px;
            border: 1px solid #dddddd;
        }
    }
</style>
