<template>
    <div class="m-above">
        <div class="m-padding">
            <div class='u-float-left m-line-board' v-for="(item,index) in buttonText" :key="index">
                <strong class="m-num">{{item.num}}</strong>
                <p class="m-text">{{item.name}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    let buttonText=[
        {name: "关注",num: 29},
        {name: "粉丝",num: 29},
        {name: "微博",num: 29}
    ]

    export default{
        data(){
            return {
                buttonText:buttonText
            }
        }
    }
</script>

<style scoped>
    .m-above{
        width: 300px;
        height: 60px;
        background-color: #fff;
        margin-bottom: 15px;
    }

    .m-above .m-padding{
        padding: 12px 0;
    }

    .m-above .m-line-board{
        line-height: 18px;
        margin-left: -1px;
        border-left-width: 1px ;
        border-left-style: solid;
        border-left-color: #dddddd;
        width:33%;
    }
    .m-num{
        font-size: 18px;
    }
    .m-text{
        margin:0;
        color: #808080;
        font-size: 12px;
    }
</style>
