<template>
    <div class="item-font-size">
        <div class="profile-content">
            <div class="profile-padding">
                <div class="clearfix table-th"
                    :class="[key!='blogAdd'?'table-th-boader':'']"
                    v-for="(val, key) in profile"
                    :key="key">{{val}}</div>
            </div>
        </div>
        <div class="profile-more">查看更多  ></div>
    </div>
</template>

<script>
    let profile = {
        level: 4,
        address: "上海 闸北区",
        company: "上海弘连",
        birthday: "1991年6月6日",
        desc: "This is my space,believe it or not.",
        blogAdd: "http://buildlove.github.io"
    }
    export default {
        data () {
            return {
                profile: profile
            }
        }
    }
</script>

<style scoped>
    .item-font-size{
        font-size:12px;
        font-weight: 500;
        width: 300px;
        background-color: #ffffff;
    }    
    .profile-content{
        height: 175px;
        line-height: 18px;
        padding: 15px;
    }
    .profile-content .clearfix{
        display: block;
    }
    .profile-more{
        height:30px;
        border-top:1px solid #dddddd; 
        text-align: center;
        line-height: 30px;
    }
    .table-th{
        text-align: left;
        line-height: 18px;
        padding: 7px 0 5px 0;
    }
    .table-th-boader{
        border-bottom: 1px solid #dddddd;
    }
</style>
