<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import { loginOutTarget } from 'api'

  export default {
    name: 'app',
    mounted() {
      loginOutTarget()
    },
    data () {
      return {
        transitionName: 'slide-left'
      }
    },
    watch: {
      '$route' (to, from) {
        const toDepth = to.path.split('/').length
        const fromDepth = from.path.split('/').length
        this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
        
        this.watchLoginToken(from);
      }
    },
    methods: {
      watchLoginToken: function(from){
        let out = loginOutTarget()
        if(out){
           this.$router.push('/login');     
        }
      }
    }
  }

</script>
