<template>
    <div class="loginPage">
      <div class="login-form">
        <el-form :label-position="labelPosition" label-width="0px" ref="formLabelAlign" :model="formLabelAlign">
          <el-form-item prop="username">
            <el-input 
              v-model="formLabelAlign.username" 
              prefix-icon="el-icon-search" 
              placeholder="请输入用户名">
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input 
              v-model="formLabelAlign.password" 
              prefix-icon="el-icon-search" 
              type="password" 
              placeholder="请输入密码">
            </el-input>
          </el-form-item>
        </el-form>
        <div class="loginCommit">
          <el-button type="primary" @click="login()">登陆</el-button>
          <el-button type="info" @click="register()">注册</el-button>
          <!-- <el-button @click="resetForm('formLabelAlign')">重置</el-button> -->
        </div>

      </div>
      <vue-particles
        color="#ffffff"
        :particleOpacity="0.7"
        linesColor="#ffffff"
        :particlesNumber="80"
        shapeType="circle"
        :particleSize="5"
        :linesWidth="2"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="3"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
      >
      </vue-particles>
      <div class="footer">
       <footer-copyright></footer-copyright>
      </div>
    </div>
</template>

<script>
import { loginServer } from 'api';// 导入我们的api接口
// import foot from "../public/footer"
import SparkMD5 from "spark-md5"
import { loginOut } from 'common'
import VueParticles from 'components/public/vue-particles/vue-particles'

export default {
  data() {
    return {
      usermsg: null,
      labelPosition: 'right',
      formLabelAlign: {
        username: "",
        password: "",
      }
    }
  },
  components: {
    "vue-particles": VueParticles
  },
  methods: {
    login () {
        this.makeToken();
        this.matchToken()
    },
    makeToken(){
        let spark = new SparkMD5();
        spark.append(this.formLabelAlign.password);
        let hexHash = spark.end(); 
        let random = String(Math.random()).replace("\.", "");
        let data = new Date().getTime();
        this.usermsg = {
          "u": `${this.formLabelAlign.username}_${random}_${hexHash}_${data}`,
          "d": data
        };
    },
    matchToken (){
      let self = this;
      
      loginServer(self.usermsg).then(function(loginRes){
        if(loginRes.status){
          let id = loginRes.data.split("_")[1];
          self.usermsg.i = id;
          localStorage.setItem("u", JSON.stringify(self.usermsg));
          self.$router.push('/');
        }  
      }).catch(function(e){
        self.$message.error(e.status + ' 登陆失败');
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    register(){
      this.$message("暂未开放")
    }
  },
  mounted() {
    let out = loginOut();
    if(!out){
      this.$router.push('/');     
    }
  }
};
</script>

<style>

.login-form {
  text-align: center;
  width: 340px;
  height: 350px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
}

.login-form .el-input input {
  background-color: #7b7474;
  border: 1px solid white;
  color: #ddd;
  height: 46px;
}
.login-form .el-button {
  width: 162px;
}
.login-form .el-form-item {
  margin-bottom: 10px;
}
.login-form .loginCommit {
  margin-top: 20px;
}
.login-form .loginCommit .el-button span{
  font-size: 17px;
}
.particles-js {
  background-image: url("http://pcpn8ly27.bkt.clouddn.com/sky.jpg");
  background-color: #4d4d;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1050px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .login-form {
    width: 80%;
  }
  .login-form .el-input input {
    height: 50px;
  }
  .login-form .el-button {
    width: 40%;
    height: 50px;
  }
  .login-form .loginCommit .el-button span{
    font-size: 28px;
  }
}
</style>
