<template>
    <div class="sina">
        <div class="sinaNavBar">
            <sinaNavBar></sinaNavBar>
        </div>
        <div class="sinaCategory">
            <sinaCategory></sinaCategory>
        </div>
    </div>
</template>

<script>

    import navbar from '@/components/webeffect/sina/navbar.vue'
    import category from '@/components/webeffect/sina/category.vue'
    export default {
        components: {
            sinaNavBar: navbar,
            sinaCategory: category
        },
        data(){
            return {

            }
        }
    }
    
</script>

<style lang="less">

    body{
        font: 12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;
        color: #4c4c4c;
        background: none;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
    }
    .clearfix {
        display: block;
    }

    .sina{
        .sinaNavBar{
            overflow: hidden;
            border-top: 3px solid #ff8500;
            border-bottom: 1px solid #edeef0;
        }
        .sinaCategory{
            padding: 10px 0 0;
            overflow: hidden;
            margin: 0 auto;
            width: 1000px;
        }
    }

    .sinalogo{
        background:url('../../../static/sina/sinalogo.png') no-repeat center center;
        width: 111px;
        height: 47px;
        margin-left: 19px;
        display: inline-block;
        background-size: 111px 47px;
    }

    .sina-top-search div.sinaSearchIcon{
        float: right;
        background: url(../../../static/sina/bg.png) 0 0 no-repeat;
        width: 66px;
        height: 35px;
        position: relative;
        top: 0px;
        right: 9px;
    }

    .tn-arrow {
        display: inline-block;
        width: 8px;
        height: 5px;
        margin: 0 0 0 5px;
        overflow: hidden;
        vertical-align: middle;
        font-size: 12px;
        line-height: 13px;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        background: url(../../../static/sina/icon.png) 0 -977px no-repeat;
    }

    .mod-guess-control{
        width: 19px;
        height: 19px;
        display: inline;
        float: left;
        background: #000;
        margin: 0 5px;
        text-indent: -9999em;
        background: url(../../../static/sina/bg.png) no-repeat;
    }

    .font-style() {
        text-align: left;
        font-size: 16px;
        color: #111;
        font-weight: bold;
        border-bottom: 1px solid #dddddd;
    }

</style>
