<template>
  <div class='my-project'>
    <!-- 导航栏 -->
    <Navigation></Navigation>
    <!-- 个人简介 -->
    <TopImageBar></TopImageBar>
    <!-- 信息展示栏 -->
    <div class="content-module">
        <LeftModule class="u-float-left margin-auto"></LeftModule>
        <!-- 内容栏 -->
        <RightModule class="u-float-right margin-auto"></RightModule>
    </div>
    <!-- 底部栏 -->
    <div></div>
  </div>
</template>

<script>

  import Navigation from '@/components/webeffect/weibo/myPage/Navigation'
  import TopImageBar from '@/components/webeffect/weibo/myPage/TopImageBar'
  import LeftModule from '@/components/webeffect/weibo/myPage/LeftModule'
  import RightModule from '@/components/webeffect/weibo/myPage/RightModule'

  export default {
    name: "HelloWorld",
    components: {
        Navigation,
        TopImageBar,
        LeftModule,
        RightModule
    },
    data() {
      return {
        msg: "Welcome to Your Vue.js App"
      }
    }
  }

</script>

<style lang="less" scoped>

  body{
    font-size:12px;
    font-weight: 500;
    padding: 0;
    margin:0;
    background: url('../../../static/weibo/myPage/background.jpg') no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
  }
  .my-project{
    text-align: center;
  }
  .content-module{
    width: 920px;
    text-align: center;
  }

  .u-text-align-left{
    text-align: left;
  }

  body div, .content-module .margin-auto{
    margin:0 auto;
    padding:0;
  }

  /* icon */
  /* home头像 */
  .u_WB_log{
      width: 140px;
      height: 48px;
      background: url('../../../static/weibo/myPage/WB_logo.png') no-repeat center center;
      background-size: 82px 26px;
  }

  // icon
  .icon-common-size(){
    width: 35px;
    height: 20px;
    background-size: 18px;
    padding: 0 20px;
    cursor: pointer;
    &:hover {
      color: #fa7d3c
    }
  }

  // 首页
  .u_home{
    background: url('../../../static/weibo/myPage/home.png') no-repeat;
    .icon-common-size();
  }

  // 视频
  .u_video{
    background: url('../../../static/weibo/myPage/video.png') no-repeat;
    .icon-common-size();
  }

  // 发现
  .u_find{
    background: url('../../../static/weibo/myPage/find.png') no-repeat;
    .icon-common-size();
  }

  // 发现
  .u_user{
    background: url('../../../static/weibo/myPage/user.png') no-repeat;
    .icon-common-size();
  }

  // 发现
  .u_game{
    background: url('../../../static/weibo/myPage/game.png') no-repeat;
    .icon-common-size();
  }

  //邮箱
  .u_mail{
    background: url('../../../static/weibo/myPage/mail.png') no-repeat;
    .icon-common-size();
    padding: 0;
  }

  //设置
  .u_set{
    background: url('../../../static/weibo/myPage/setting.png') no-repeat;
    .icon-common-size();
    padding: 0;
  }
  
  //编辑
  .u_edit{
    background: url('../../../static/weibo/myPage/edit.png') no-repeat;
    .icon-common-size();
    padding: 0;
  }

  .u_titleImg{
    background: url('../../../static/weibo/myPage/title.jpg') no-repeat;
    .icon-common-size();
    width: 50px;
    height: 50px;
    background-size: 50px;
    border-radius: 50%;
    border: 0px;
    padding: 0 20px;
    cursor: pointer;
    padding: 0;
  }
  
</style>
